{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center container mt-5">
  <h1>Search Your Favorite Books in Fatih's Library</h1>
  <div class="container mt-5">
    <form action="">
        <input id="myInput" class="form-control" type="search" placeholder="Search your book here!">
    </form>
  </div>
  <div class="table-responsive mt-5">
      <table class=" table table-light table-hover">
            <thead class = "thead-light">
            <tr class="text-center">
                <th scope="col" class="align-middle">No</th>
                <th scope="col" class="align-middle">Cover</th>
                <th scope="col" class="align-middle">Title</th>
                <th scope="col" class="align-middle">Authors</th>
                <th scope="col" class="align-middle">Publisher</th>
            </tr>
        </thead>
        <tbody></tbody>
      </table>
  </div>
</div>
{% endblock content %}