{% extends 'base_login.html' %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
<div class="container justify-content-center">
Halo {{ user.username }}!
<form action="{% url 'logout' %}" method="POST" class="container">
        {% csrf_token %}
        <div>
            <button type="submit" class="btn btn-danger">Logout</button>
        </div>
</form>
</div>


{% endblock content %}