{% extends 'base_login.html' %}
{% block title %}Login Page{% endblock title %}
{% block content %}
<form action="{% url 'login' %}" class="container" method="POST">
  {% csrf_token %}
  <div><p>Username</p>{{ form.username }}</div>
  <div><p>Password</p>{{ form.password }}</div>
  <div>
      <button type="submit" class="btn btn-info">Login</button>
  </div>
</form>

{% endblock content %}